.header {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    background-color: #2b2b2b; /* Example background color */
   
  }

  .profileName{
    color: #ffffff;
  }
  
  .profile-pic {
    width: 256px; /* Adjust size as needed */
    height: 256px; /* Adjust size as needed */
    border-radius: 50%; /* Creates the round shape */
    padding: 10px;
  }
  
  .social{
    display: flex;
    justify-content: left;
    
  }
  .github-logo {
    padding: 10px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
  }
  
  .github-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Removes underline from link */
    color: #333; /* Example text color */
  }
  
  /* Add additional styling as needed */

  .bioWrap {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Align children to the start of the flex container */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
   
   
    padding-bottom: 20px;
    justify-content: center;
}

.bioWrap.visible {
    max-height: 1000px; /* Adjust based on content size */
}


.readMoreBtn {
    margin-top: 20px;
    display: flex; /* Use flex to center the icon inside */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 40px; /* Equal width and height to ensure a circle */
    height: 40px; /* Equal width and height to ensure a circle */
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer; /* If it's clickable */
    /* Adjust padding if needed, but for a perfect circle, width and height are key */
}


  .bioContainer{
    color: #ffffff;
    width: 800px;
    max-width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  